@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../fuentes/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('../fuentes/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'alex_brushregular';
    src: url('../fuentes/alexbrush-regular-webfont.woff2') format('woff2'),
         url('../feuntes/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
	margin: 0 auto ;
	width: 70%;
}
h1{
	font-family: 'kaushan_scriptregular';
}
p{
	font-family: 'alex_brushregular';
}

iframe{
	border: 1px solid;
	border-radius: 1em;
	box-shadow: 3px 3px 7px rgba(0, 0, 0, .7);
	height: 450px;
	width: 50%;
	
}